.tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: var(--base-bg-tooltip);
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--base-text-on-tooltip);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);

  &.open {
    display: block;
  }

  .arrow {
    position: absolute;
    background-color: var(--base-bg-tooltip);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: -1;
    pointer-events: none;
  }
}
