pre {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;

  code.hljs {
    border-radius: 0.125rem;
    padding: 1rem;
  }
}

code {
  color: var(--color-red-500);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
